{% extends '/admin/index.html.twig' %}
{% block content %}


    <table class="table">
        <thead>
            <tr>
                <th>IdTeam</th>
                <th>Team Name</th>
                <th>Team Logo</th>
                <th>Team Players Count</th>
                <th>Team Description</th>
         
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.idTeam }}</td>
                <td>{{ team.teamName }}</td>
                <td>{{ team.logo }}</td>
                <td>{{ team.playersNumber }}</td>
                <td>{{ team.description }}</td>
               

                
                <td>
                    <a href="{{ path('app_team_show', {'idTeam': team.idTeam}) }}">show</a>
                    <a href="{{ path('app_team_edit', {'idTeam': team.idTeam}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_new') }}">Create new</a>
{% endblock %}