{% extends 'base.html.twig' %}

{% block content %}
<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="zelda-responsive-nav">
        <div class="container">
            <div class="zelda-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="zelda-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">Home <i class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="index.html" class="nav-link">Main Home</a></li>

                                <li class="nav-item"><a href="index-2.html" class="nav-link">Esports Home</a></li>

                                <li class="nav-item"><a href="index-3.html" class="nav-link">Bosting Home</a></li>

                                <li class="nav-item"><a href="index-4.html" class="nav-link">Magazine Home</a></li>

                                <li class="nav-item"><a href="index-5.html" class="nav-link">Tournaments Home</a></li>

                                <li class="nav-item"><a href="index-6.html" class="nav-link">Streaming Home</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Pages <i class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="team.html" class="nav-link">Our Team</a></li>

                                <li class="nav-item"><a href="sponsors.html" class="nav-link">Our Sponsors</a></li>

                                <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>

                                <li class="nav-item"><a href="faq.html" class="nav-link">FAQ Page</a></li>

                                <li class="nav-item"><a href="coming-soon.html" class="nav-link">Coming Soon</a></li>

                                <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error Page</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link active">Tournament <i class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="stream-schedule.html" class="nav-link">Stream Schedule</a></li>

                                <li class="nav-item"><a href="single-tournament.html" class="nav-link">Tournament Single</a></li>

                                <li class="nav-item"><a href="single-match.html" class="nav-link active">Match Single</a></li>

                                <li class="nav-item"><a href="single-team.html" class="nav-link">Team Single</a></li>

                                <li class="nav-item"><a href="single-player.html" class="nav-link">Player Single</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Shop <i class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="products-list-1.html" class="nav-link">Products List 01</a></li>

                                <li class="nav-item"><a href="products-list-2.html" class="nav-link">Products List 02</a></li>

                                <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>

                                <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>

                                <li class="nav-item"><a href="single-products.html" class="nav-link">Products Details</a></li>

                                <li class="nav-item"><a href="my-account.html" class="nav-link">My Account</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Blog <i class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="blog-1.html" class="nav-link">Grid (2 in Row)</a></li>

                                <li class="nav-item"><a href="blog-2.html" class="nav-link">Grid (3 in Row)</a></li>

                                <li class="nav-item"><a href="blog-3.html" class="nav-link">Masonry (3 in Row)</a></li>

                                <li class="nav-item"><a href="blog-4.html" class="nav-link">Right Sidebar</a></li>

                                <li class="nav-item"><a href="blog-5.html" class="nav-link">Left Sidebar</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Single Post <i class='bx bx-plus'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="single-blog-1.html" class="nav-link">Default</a></li>

                                        <li class="nav-item"><a href="single-blog-2.html" class="nav-link">With Video</a></li>

                                        <li class="nav-item"><a href="single-blog-3.html" class="nav-link">With Image Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <div class="search-box">
                                <i class="flaticon-search-1"></i>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                            <div class="search-box">
                                <i class="flaticon-search-1"></i>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Sidebar Modal -->
<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><i class='bx bx-x'></i></button>

            <div class="modal-body">
                <div class="logo">
                    <a href="index.html" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
                </div>

                <div class="instagram-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member1.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member2.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member3.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member4.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member5.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/img/team-member6.jpg" alt="image">
                                <i class='bx bxl-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-contact-info">
                    <h2>
                        <a href="tel:+8802419268615">+880 241 926 8615</a>
                        <span>OR</span>
                        <a href="mailto:hello@zelda.com">hello@zelda.com</a>
                    </h2>
                </div>

                <ul class="social-list">
                    <li><span>Follow Us On:</span></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-twitch'></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->

<!-- Search Overlay -->
<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>

            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>

            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-search-1"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Search Overlay -->

<!-- Start Page Title Area -->
<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <div class="single-matches-box">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="matches-team">
                            <img src="{{ asset('assets/img/')}}{{match.idTeam1.logo}}" class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image">

                            <div class="content">
                                <h3>{{ match.idTeam1.teamName }}</h3>
                                <ul class="watch-list">
                                    <li><span>Watch</span></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on YouTube"><i class='bx bxl-youtube'></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on Twitch"><i class='bx bxl-twitch'></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on Vimeo"><i class='bx bxl-vimeo'></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-12">
                        <div class="matches-result">
                            <ul>
                                <li>-</li>
                                <li>-</li>
                            </ul>
                            <span class="date-time">{{match.date|date('d-m-Y')}}, {{ match.time|date('H:i') }}</span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="matches-team right-image">
                            <img src="{{ asset('assets/img/')}}{{match.idTeam2.logo}}" class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image">

                            <div class="content">
                                <h3>{{ match.idTeam2.teamName }}</h3>
                                <ul class="watch-list">
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on YouTube"><i class='bx bxl-youtube'></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on Twitch"><i class='bx bxl-twitch'></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Watch on Vimeo"><i class='bx bxl-vimeo'></i></a></li>
                                    <li><span>Watch</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Page Title Area -->

<!-- Start Match Details Area -->


<section class="match-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="match-details-desc">
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li>{{match.date|date('d-m-Y')}} ,{{ match.time|date('H:i') }}</li>
                            </ul>
                        </div>
                        <h3>{{ match.idTeam1.teamName }} vs {{ match.idTeam2.teamName }}</h3>
                        <p>
                            <b>Location</b>
                        <br>
                            {{ match.location}}
                            <br>
                            <b>Price</b>
                            <br>
                            {{ match.price}}
                            <br>
                            <b>Number of Seats Available:</b>
                            <br>
                            {{ match.nbSeats}}
                            <br>
                            <b>Live link :</b>
                            <br>
                           <a href="{{ match.link}}">{{ match.link}}</a>


                        </p>
                    </div>
                    <br>
                    <br> <br>
                    <button id="reserverMatch" onclick="ReservationOnClick({{ match.idMatch}}, 1)">Reserver Match </button>

                    <script>

                        function ReservationOnClick(matchId, userId){



                            fetch("{{ path('app_reservation_new') }}",{
                                method: 'POST',
                                body:'id_user='+userId+'&id_match='+matchId,
                                headers:{"Content-Type": "application/x-www-form-urlencoded"}
                            }).then((response)=>{response.json().then((text)=>{

                                window.location.replace("{{ path("app_reservation_showNoIdTicket") }}/"+ text.idTicket)
                            })});




                        }
                    </script>


                </div>


    </div>
        </div>
    </div>
</section>

<!-- End Match Details Area -->

<!-- Start Footer Area -->
<footer class="footer-area bg-1b060a ptb-70">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a href="#" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
                <ul class="footer-menu">
                    <li class="nav-item"><a class="nav-link" href="#">Legal</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Privacy policy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Cockie setting</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Support center</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-5">
                <p><i class='bx bx-copyright'></i>2020 <a href="#">Zelda</a> games Pty Ltd.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-7">
                <div class="lang-switcher">
                    <span>Select your language</span>
                    <select>
                        <option>English</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>Portuguese</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

<div class="zelda-cursor"></div>
<div class="zelda-cursor2"></div>
{% endblock %}