<h1>Reservation</h1>

<table class="table">
    <tbody>
    <tr>
        <th>IdTicket</th>
        <td>{{ reservation.idTicket }}</td>
    </tr>
    <tr>
        <th>User First Name</th>
        <td>{{ reservation.idUser.firstname }}</td>
    </tr>
    <tr>
        <th>User Last Name</th>
        <td>{{ reservation.idUser.lastname }}</td>
    </tr>
    <tr>
        <th>User Email</th>
        <td>{{ reservation.idUser.email }}</td>
    </tr>
    <tr>
        <th>Match Location</th>
        <td>{{ reservation.idMatch.location }}</td>
    </tr>
    </tbody>
