<h1>Reservation</h1>

<table class="table">
    <tbody>
    <tr>
        <th>IdTicket</th>
        <td>{{ reservation.idTicket }}</td>
    </tr>
    <tr>
<<<<<<< HEAD
        <th>First Name</th>
        <td>{{ reservation.idUser.firstname }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ reservation.idUser.lastname }}</td>
    </tr>
    <tr>
        <th>Email</th>
=======
        <th>User First Name</th>
        <td>{{ reservation.idUser.firstname }}</td>
    </tr>
    <tr>
        <th>User Last Name</th>
        <td>{{ reservation.idUser.lastname }}</td>
    </tr>
    <tr>
        <th>User Email</th>
>>>>>>> 6fb82286f5037c0622c1bd973fa69d9104c367ce
        <td>{{ reservation.idUser.email }}</td>
    </tr>
    <tr>
        <th>Match Location</th>
        <td>{{ reservation.idMatch.location }}</td>
<<<<<<< HEAD
    <tr>
        <th>Team 1</th>
        <td>{{ reservation.idMatch.idTeam1.teamName }}</td>
    <tr>
        <th>Team 2</th>
        <td>{{ reservation.idMatch.idTeam2.teamName }}</td>
    </tr>
    </tr>
    </tr>
    </tbody>
    <br>    <br>    <br>

    <div>
        {% if qrCode %}

            <img src="{{ qrCode }}" alt="qr-code">

        {% endif %}
    </div>
=======
    </tr>
    </tbody>
>>>>>>> 6fb82286f5037c0622c1bd973fa69d9104c367ce
