{% extends 'Back_base.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
    {# <section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Product details</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>ProductName</th>
                                        <td>{{ product.productName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>
                                            <img src="{{ asset('Uploads/' ~ product.getImage()) }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ProductPrice</th>
                                        <td>{{ product.productPrice }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Color</th>
                                        <td>{{ product.color }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mark</th>
                                        <td>{{ product.mark }}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount</th>
                                        <td>{{ product.discount }}</td>
                                    </tr>
                                    <tr>
                                        <th>Disponibility</th>
                                        <td>{{ product.disponibility ? 'Yes' : 'No' }}</td>
                                    </tr>
                                    <tr>
                                        <th>StockQuantity</th>
                                        <td>{{ product.stockQuantity }}</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>{{ product.Category.categoryName }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('app_product_index') }}">back to list</a>

                            <a href="{{ path('app_product_edit', {'idProduct': product.idProduct}) }}">edit</a>

                            {{ include('product/_delete_form.html.twig') }}
                            </div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div>
	</section> #}

        <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none">{{ product.productName }}</h3>
              <div class="col-12">
                <img src="{{ asset('Uploads/' ~ product.getImage()) }}" class="product-image" alt="Product Image">
              </div>
              <div class="col-12 product-image-thumbs">
                <div class="product-image-thumb active"><img src="{{ asset('Uploads/' ~ product.getImage()) }}" alt="Product Image"></div>
                <div class="product-image-thumb" ><img src="{{ asset('Uploads/' ~ product.getImage()) }}" alt="Product Image"></div>
                <div class="product-image-thumb" ><img src="{{ asset('Uploads/' ~ product.getImage()) }}" alt="Product Image"></div>
                <div class="product-image-thumb" ><img src="{{ asset('Uploads/' ~ product.getImage()) }}" alt="Product Image"></div>
                <div class="product-image-thumb" ><img src="{{ asset('Uploads/' ~ product.getImage()) }}" alt="Product Image"></div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{ product.productName }}</h3>
              <p>{{ product.description }}</p>

              <hr>
              <h4>Available Colors</h4>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default text-center active">
                  <input type="radio" name="color_option" id="color_option_a1" autocomplete="off" checked>
                  Green
                  <br>
                  <i class="fas fa-circle fa-2x text-green"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a2" autocomplete="off">
                  Blue
                  <br>
                  <i class="fas fa-circle fa-2x text-blue"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a3" autocomplete="off">
                  Purple
                  <br>
                  <i class="fas fa-circle fa-2x text-purple"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a4" autocomplete="off">
                  Red
                  <br>
                  <i class="fas fa-circle fa-2x text-red"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a5" autocomplete="off">
                  Orange
                  <br>
                  <i class="fas fa-circle fa-2x text-orange"></i>
                </label>
              </div>

              <h4 class="mt-3">Size <small>Please select one</small></h4>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
                  <span class="text-xl">S</span>
                  <br>
                  Small
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
                  <span class="text-xl">M</span>
                  <br>
                  Medium
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_b3" autocomplete="off">
                  <span class="text-xl">L</span>
                  <br>
                  Large
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
                  <span class="text-xl">XL</span>
                  <br>
                  Xtra-Large
                </label>
              </div>

              <div class="bg-gray py-2 px-3 mt-4">
                <h2 class="mb-0">
                  {{ product.productPrice }} DT
                </h2>
                <h4 class="mt-0">
                  <small>Sale Price: {{ product.productPrice - (product.productPrice * product.discount / 100)   }} DT</small>
                </h4>
              </div>

              

              <div class="mt-4 product-share">
                <a href="#" class="text-gray">
                  <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fas fa-envelope-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fas fa-rss-square fa-2x"></i>
                </a>
              </div>

            </div>
          </div>
          
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

{% endblock %}
