{% extends 'Front_base.html.twig' %}

{% block content %}
  <section class="page-title-area page-title-bg1">
            <div class="container">
                <div class="page-title-content">
                    <h1 title="News">New Details</h1>
                </div>
            </div>
        </section>
         <div class="album py-5 ">
        <div class="container">

<h2>Search News</h2>
<br>
<hr>

            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Search here">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#">Info New <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
              
                </div>
                
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'News') {
                                                    if (id !== 'error') {
                                                        console.log(value[1]);
                                                        entitySelector.append('<li><b>'+'<label for="exampleInput">Title:</label>'+''+value[1]+'<br>'+'<label for="exampleInput">logo:</label>'+value[0]+'<br>'+'<label for="exampleInput">image background:</label>'+value[2]+'<br>'+'<label for="exampleInput">Description:</label>'+value[3]+'</b>'+'br'+'<div><a href="/News/'+id+'">'  +'<img src="{{ asset('uploads/dd.png') }}" alt="logo"> ' +'<label for="exampleInput">views details</label>'+'</a></div></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
                </div>
            </ul>
        <br><br>        <br><br>
 <br><br>        <br><br>

 <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-desc">
<div class="article-image">                
<img src="{{ asset('uploads/' ~ News.img) }} " alt="{{ News.Title }}" class="img-fluid">
            </div>
             <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class='bx bx-folder-open'></i>
                                            <span>Category</span>
                                            <a href="#">Fashion</a>
                                        </li>
                                        <li>
                                            <i class='bx bx-group'></i>
                                            <span>View</span>
                                            <a href="#">813,454</a>
                                        </li>
                                        <li>
                                            <i class='bx bx-calendar'></i>
                                            <span>Last Updated</span>
                                            <a href="#"> <h2>{{ News.creationdate ? News.creationdate|date('Y-m-d') : '' }} </h2></a>
                                        </li>
                                    </ul>
                                </div>
            <div class="col-md-8">
                <b>Titre:</b><h3 class="mt-4 mt-md-0">{{ News.Title }}</h3>
               
                <hr>
                <b>Description: </b><p>{{ News.description }}</p>
                      
                            


            </div>
            </div>
        </div>
          <div class="comments-area">

                                <ol class="comment-list">
                                <h3 class="comments-title"> Comments:{{ News.comments|length }} </h3>

                                    <li class="comment">

                                             {% for comments in News.comments %}

                                        <article class="comment-body">

                                            <footer class="comment-meta">

                                                <div class="comment-author vcard">
                                                    <img src="{{ asset('Front/assets/img/user4.jpg') }}" class="avatar" alt="image">
                                                    <b class="fn"></b>
                                                    <span class="says">says:</span>
                                                </div>

                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <span>{{ comments.CommentDate ? comments.CommentDate|date('Y-m-d') : '' }}</span>
                                                    </a>
                                                </div>
                                            </footer>

                                            <div class="comment-content">
                                                <p>{{ comments.getText() }}</p>
                                            </div>     
                                      
                                    <div class="reply">
                                                                                

                                                     
                        <span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;<span id="likes-count">{{ comments.getlikes().count}}   </span>
                        &nbsp;&nbsp;
                                         <a href="#" class="comment-reply-link"><form class="comment-form" action="{{ path('add_Like') }}" method="post" id="comment">
                                          <input type="submit" name="submit" id="submit" value="" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">like

                                 <input type="hidden" name="comments_id" value="{{comments.id}}">
                                 </form>
                                 </a>
</span></a>
 
                                                <a href="#" class="comment-reply-link">                               
Reply</a>
                                            </div>
                                                                            

                                        </article>

                                                                    {% endfor %}
   
            
                                                
                                        
                                    </li>

                                </ol>

                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a Reply</h3>

                                    <form class="comment-form" action="{{ path('add_comment') }}" method="post" id="comment">

                                        <p class="comment-notes">
                                            Required fields are marked 
                                            <span class="required">*</span>
                                        </p>
                                                 <p class="comment-form-comment">
                                            <label>Comment</label>
                                            <textarea name="comment" id="comment" cols="45" placeholder="Your Comment..." rows="5" maxlength="65525" required="required"></textarea>

                                        </p>
                        
                                  
                                        <p class="form-submit">
                                            <input type="submit" name="submit" id="submit" class="submit" value="Post A Comment">
                                        </p>
                                    <input type="hidden" name="news_id" value="{{News.id}}">
                                    </form>
                                </div>
                       </div>        
    </div>
    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area">
                         

                            <section class="widget widget_zelda_posts_thumb">
                                <h3 class="widget-title">Popular Posts</h3>

                                <article class="item">
                                    <a href="#" class="thumb">
                                        <span class="fullimage cover bg1" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <span>June 10, 2020</span>
                                        <h4 class="title usmall"><a href="#">The Data Surrounding Higher Education</a></h4>
                                    </div>

                                    <div class="clear"></div>
                                </article>

                                <article class="item">
                                    <a href="#" class="thumb">
                                        <span class="fullimage cover bg2" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <span>June 21, 2020</span>
                                        <h4 class="title usmall"><a href="#">Conversion Rate the Sales Funnel Optimization</a></h4>
                                    </div>

                                    <div class="clear"></div>
                                </article>

                                <article class="item">
                                    <a href="#" class="thumb">
                                        <span class="fullimage cover bg3" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <span>June 30, 2020</span>
                                        <h4 class="title usmall"><a href="#">Business Data is changing the world’s Energy</a></h4>
                                    </div>

                                    <div class="clear"></div>
                                </article>
                            </section>

                            <section class="widget widget_categories">
                                <h3 class="widget-title">Categories</h3>

                                <ul>
                                                                {% for Newcategorie in categorys  %}

                                    <li><a href="{{ path("public_site_Newcategorie", {'Newcategorie': Newcategorie.name}) }}">{{Newcategorie.name}} <span class="post-count">{{ Newcategorie.getNews().count }}</span></a></li>
                                                                         {% endfor %}  

                                </ul>
                            </section>

                            <section class="widget widget_tag_cloud">
                                <h3 class="widget-title">Popular Tags</h3>

                                <div class="tagcloud">
                                {% for tag in News.tag  %}
                                    <a href="{{ path("public_site_tag", {'tag': tag.text}) }}">
                     <b>tags: </b> <p>{{tag.text}}</p>

                     <span class="tag-link-count">{{ News.tag.count }} </span></a>
                                     {% endfor %}  
                                </div>
                            </section>

                            
                        </aside>
                    </div>
    </div>
    </section>
    
                            </div>
                            
                   

      </div>
      
      
 <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <div class="zelda-cursor"></div>
        <div class="zelda-cursor2"></div>
{% endblock %}
