{% extends 'Front_base.html.twig' %}

{% block content %}
  <section class="page-title-area page-title-bg1">
            <div class="container">
                <div class="page-title-content">
                    <h1 title="News">News//Update</h1>
                </div>
            </div>
        </section>
        <br><br>        <br><br>
 <br><br>        <br><br>
    {{ form_start(form) }}

        {{ form_widget(form.title,{'attr':{'type':'text','class':'form-control','placeholder':'Title...'}}) }}
        <br> <br> <br>
        {{ form_widget(form.description,{'attr':{'type':'textarea','class':'form-control','placeholder':'Description...'}}) }}
        <br> <br> <br>
        {{ form_widget(form.img,{'attr':{'type':'text','class':'form-control','placeholder':'img...'}}) }}
        <br> <br> <br>
        {{ form_widget(form.bg_img,{'attr':{'type':'text','class':'form-control','placeholder':'img...'}}) }}
        <br> <br> <br>
   <center> {{ form_widget(form.Submit,{'attr':{'type':'text','class':'btn btn-common','placeholder':'Submit...'}}) }}        </center>
        <br> <br> <br>

    {{ form_end(form) }}
     <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <div class="zelda-cursor"></div>
        <div class="zelda-cursor2"></div>
{% endblock %}

